#calender {
      margin-top: 60px;
}

#calender > p {
      font-size: 14px;
      color: #828282;
      position: absolute;
      line-height: 44px;
      margin-left: 5px;
}
#calender > button {
      width: 94px; height: 42px;
      border-radius: 10px;
      background-color: #d9d9d9 ;
      color: white ;
      position: absolute;
      right: 15%;
      margin: 0;
}



#plan form{
      margin-top: 80px;
      width: 1100px;
}
#plan input{
      border: solid 1px #D8D8D8;
      font-size: 32px;
      padding:5px;
      color: black;
      width: 450px; height:56px
}

#plan img{
       opacity: 0.3;
       width: 30px; height: 30px;
       margin-left:15px;
       margin-bottom: 5px;
}

#plan #save_btn{
      width: 150px; height: 50px;
      border-radius: 10px;
      background-color: #d9d9d9 ;
      color: white;
      margin: 0;
      position: absolute;
      left:1460px;
      bottom: -100px;
      z-index:10;
}

#save_btn_title{
    text-align: center;
    margin-top:20px
}

.save_box{
    margin-top:40px;
    margin-left:18%;
}

.save_box button{
      width: 150px; height: 35px;
      background-color: #FFB0B0;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      position: relative;
}


#cancle_btn{
    width:80px;
    margin-left: 10px;
    background-color: #EEEEEE;
          color: #B0B0B0;
}




#plan .tg  {border-collapse:collapse; border-spacing:0;}
#plan .tg tr {height: 40px; line-height: 40px;}
#plan .tg td{
      border-color:black; border-style:solid; border-width:1px; 
      font-size:14px;
      overflow:hidden;
      word-break:normal;
      border-color:#828282;  vertical-align:top
}
#plan .tg .tg-td{
      padding:0px 5px;
}
#plan .tg th{
      border-color:black; border-style:solid; border-width:1px;
      background-color: #e5e5e5;
      font-size:14px; font-weight:normal;
      overflow:hidden;  word-break:normal;
      padding:0px 8px;
}


#plan .tg .tg-th-1{
      width: 120px;
}
#plan .tg .tg-th-2{
      /* width: 175px; */
      width: 275px;
}
#plan .tg .tg-th-3{
      width: 60px;
}

#plan .tg-td-1{
      width: 60px;
      text-align: right;
      padding: 0 10px;
}

#plan button {
      width: 220px;
      height: 50px;
      border-radius: 30px;
      background-color: #FFB0B0 ;
      color: white ;
      position: relative;
      margin-left: 50%;
      margin-top: 50px;
      left: -110px;
      margin-bottom: 220px;
}



.add_plan_title{
      margin-top: 10px;
      margin-bottom: 35px;
      text-align: center;
      padding-left: 50px;
      font-size: 18px;
      font-weight: bold;
}

.add_plan_box{
      padding-left: 105px;
}

.add_plan_box > div > p{
      float: left;
}
.add_plan_box > div > p::after{
      content: "|";
      margin: 0 15px;
}
.add_plan_box > div > p:nth-child(3)::after{
      content: "";
}

.add_plan_box > div{
      margin: 15px 0;
}
.add_plan_box > div::after{
      content: "";
      display: block;
      clear: both;
}


.add_plan_box > div:nth-child(1) > button{
      background-color: #ffffff;
      border:none;
      margin: 0 10px;
}
.add_plan_box > div:nth-child(1) > button:hover{
      color: #ffffff;
      background-color: #FFB0B0;
}
.add_plan_box > div:nth-child(1) > button:focus{
      color: #ffffff;
      background-color: #FFB0B0;
}


.add_plan_box > div > p:nth-child(3){
      margin-left: 26px;
}
.start_time{
      float: left;
}



.choicebox {
      color: #FFB0B0;
      font-size: 85%;
      text-align: left;
      outline: none;
      width: 70px;
      border-color: #B0B0B0;
      padding: 0.3em;
  }

.start_time select{
      margin-right: 12px;
}
.end_time select{
      margin-right: 12px;
}




.add_plan_box input{
      width: 390px;
      border:solid 1px #B0B0B0;
}



.add_plan_box > div:nth-child(4) > button{
      width: 33px; height: 33px;
      padding: 0;
      border:none;
      margin-right: 20px;
      background-color: #ffffff;
}

.add_plan_box img{
      width: 33px; height: 33px;
}

#put_in_btn{
      width: 150px; height: 35px;
      background-color: #FFB0B0;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      position: relative;
      margin-top: 10px;
      left: 28%;
}